.edit-item-page {
  position: absolute;
  display: flex;
  width: 100%;
  top: 145px;
  left: 0;
  height: 90vh;
  overflow: scroll;
  flex-direction: column;
  align-items: center;
}
.client-input{
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    width: 361px;
    color: var(--text-primary);
  }
  input{
    color: var(--text-primary);
}
}
.header-add-new-list{
  position:absolute;
  top:0;
  width: 361px;
  height: 44px;
  angle: 0 deg;
  opacity: 1;
  left: 16px;
  gap: 8px;
  display: flex;
  justify-content: space-between;
  button{
    width: 44px;
    height: 44px;
    background: none;
    border: none;
    color: var(--focus-color);
  }
  span{
    display: flex;
    align-items: center;
    text-align: center;
    width: calc(361px);
    margin-right: 44px;
    color: var(--text-primary);
    justify-content: center;
  }

}
