<section class="add-new-vehicle">
  <header class="header">
    <button class="backBtn" (click)="back()">
      <img src="assets/svg/back.svg" />
    </button>
    <span class="font400size16">Dodawanie pojazdu</span>
  </header>

  <form [formGroup]="vehicleForm" (ngSubmit)="onSubmitAddNewVehicle()">
    <label for="type">Typ</label>
    <select formControlName="vehicleType" (change)="onTypeChange($event)" name="type">
      <option value="truck">Ciągnik</option>
      <option value="trailer">Naczepa</option>
    </select>

    <br />

    <label for="marka">Marka</label>

    <select formControlName="vehicleBrand" *ngIf="!isTrailer" name="marka">
      <option value="volvo">Volvo</option>
      <option value="daf">DAF</option>
      <option value="iveco">Iveco</option>
    </select>

    <select formControlName="vehicleTrailerBrand" *ngIf="isTrailer" name="marka-trailer">
      <option value="schmitz">SCHMITZ</option>
      <option value="other">INNA</option>
    </select>

    <br />

    <label for="number">Numer rejestracyjny</label>
    <input type="text" name="number" placeholder="Wpisz numer rejestracyjny pojazdu" formControlName="vehicleNumber"
      minlength="6" />

    <div *ngIf="vehicleForm.get('vehicleNumber')?.touched && vehicleForm.get('vehicleNumber')?.invalid" class="error">
      Proszę wpisać numer rejestracyjny! Na przykład: PZ1R741
    </div>

    <div class="saveBtnBack">
      <button class="save-btn" type="submit" [disabled]="isSubmitting" (click)="onSubmitAddNewVehicle()">
        {{ isSubmitting ? 'ZAPISYWANIE...' : 'ZAPISZ' }}
      </button>
    </div>
  </form>
</section>