<header class="header-new-waybill">
  <button class="backBtn" (click)="back()">
    <img src="assets/svg/back.svg" />
  </button>
  <span>Nowa karta drogowa</span>
  <button class="backBtn" (click)="closeAddNewWaybill()">
    <img src="assets/svg/load-calc-icons/closeItem-white.svg" />
  </button>
</header>
<app-select-vehicle-number-page
  *ngIf="
    addNewWaybillsService.isOpenTruckModalMenu() || addNewWaybillsService.isOpenTrailerModalMenu()
  "
></app-select-vehicle-number-page>
<main class="main-new-waybill">
  <div class="new-waybill-vehicle">
    <span class="font500size14">Pojazd</span>
    <div class="new-waybill-vehicle-input-group">
      <div class="new-waybill-vehicle-input" (click)="onOpenTruckModalMenu()">
        Ciężarówka
        <p>{{ addNewWaybillsService.currentSelectedVehicle().truck }}</p>
        <img src="assets/svg/load-calc-icons/ArrowRight.svg" />
      </div>
      <div class="new-waybill-vehicle-input" (click)="onOpenTrailerModalMenu()">
        Przyczepa
        <p>{{ addNewWaybillsService.currentSelectedVehicle().trailer }}</p>
        <img src="assets/svg/load-calc-icons/ArrowRight.svg" />
      </div>
    </div>
  </div>
  <div class="new-waybill-date">
    <span class="font500size14">Zakres dat</span>
    <div class="new-waybill-vehicle-input-group">
      <div class="new-waybill-vehicle-input font600size16">
        Początek
        <div class="calendarBtnGroup">
          <span (click)="onOpenCalendarModal('start')" [style]="addNewWaybillsService.isOpenCalendarStartModal()?'border: 1px solid rgba(76, 141, 255, 1)':'border: none'" class="date-input date-input-d font400size16"
            >{{ this.addNewWaybillsService.currentDate().dataStart }}
          </span>
          <span (click)="onOpenTimeModal('start')"
                [style]="addNewWaybillsService.isOpenTimeStartModal()?'border: 1px solid rgba(76, 141, 255, 1)':'border: none'"
                class="date-input date-input-t"
            >{{ this.addNewWaybillsService.currentDate().timeStart }}
          </span>
        </div>
      </div>
      <app-calendar *ngIf="addNewWaybillsService.isOpenCalendarStartModal()"></app-calendar>
      <app-time-picker *ngIf="addNewWaybillsService.isOpenTimeStartModal()"></app-time-picker>

      <div class="new-waybill-vehicle-input font600size16">
        Koniec
        <div class="calendarBtnGroup">
          <span (click)="onOpenCalendarModal('end')"
                [style]="addNewWaybillsService.isOpenCalendarEndModal()?'border: 1px solid rgba(76, 141, 255, 1)':'border: none'"
                class="date-input date-input-d"
            >{{ this.addNewWaybillsService.currentDate().dataFinish }}
          </span>
          <span (click)="onOpenTimeModal('end')" class="date-input date-input-t"
                [style]="addNewWaybillsService.isOpenTimeEndModal()?'border: 1px solid rgba(76, 141, 255, 1)':'border: none'"
            >{{ this.addNewWaybillsService.currentDate().timeFinish }}
          </span>
        </div>
      </div>
      <app-calendar *ngIf="addNewWaybillsService.isOpenCalendarEndModal()"></app-calendar>
      <app-time-picker *ngIf="addNewWaybillsService.isOpenTimeEndModal()"></app-time-picker>
    </div>
  </div>
  <div class="new-waybill-notes">
    <span class="font500size14">Notatki</span>
    <textarea #textArea (input)="addNewWaybillsService.currentNotes.set(textArea.value)">{{
      addNewWaybillsService.currentNotes()
    }}</textarea>
  </div>
</main>
<div class="saveBtnBack">
  <button class="save-btn font600size16" (click)="addNewWaybills()">Dodać</button>
</div>
