.add-new-vehicle{
  width: 400px;
  max-width: 100%;
  height: 100%;
  background: #1c69af;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  border: 2px solid white;
form{
  display: flex;
  height: 100vh;
  background: beige;
  top: 0;
  left: 0;
  position: absolute;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 100%;
  z-index: 100;

}
}
select, input, button{
  margin-top: 30px;
 width: 90%;
  height: 50px;
  background: var(--dark-color);
  color: var(--primary-color);
  margin-bottom: 10px;
}
