.backgroundForMobileModal {
  position: fixed;
  top: env(safe-area-inset-top, 0px);
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1;
}

.modal-window {
  overflow: auto;
  height: 67vh;

  width: 100vw;
  padding: 1rem;

  background: black;
  display: flex;
  flex-direction: column;
  z-index: 1;

  z-index: 120;
}

header {
  width: 100%;
  position: fixed;
  top: env(safe-area-inset-top, 0px);
  left: 50%;
  transform: translate(-50%);
  /* max-width: 600px; */
  padding: 49px 16px 16px 16px;
  height: 44px;
  angle: 0deg;
  opacity: 1;
  gap: 8px;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  background: black;
  z-index: 20;

  span {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    width: 99%;
    color: var(--text-primary);
    text-align: center;
  }
}

main {
  position: relative;
  top: 42px;

}

.saveBtnBack {
  position: fixed;
  bottom: 0px;

  background: black;
  left: 0;
  padding: 0;

  text-align: center;
  display: flex;
  justify-content: center;
  background: black;
  z-index: 120;
  margin: 0 auto;
  height: 258px !important;
  width: 100% !important;
}

.new-waybill-vehicle-input-group .new-waybill-vehicle-input:first-child {
  border-radius: 8px 8px 0 0;
}

.new-waybill-vehicle-input-group .new-waybill-vehicle-input:last-child {
  border-radius: 0 0 8px 8px;
}

@media screen and (max-width: 640px) {

  .modal-window table th,
  .modal-window table td {
    font-size: 10px;
    gap: 0;
    padding: 0;
    margin: 0;

    border: 1px solid red;
  }

  .modal-window table th {
    border-bottom: none;
  }
}

@media screen and (max-width: 462px) {
  p {
    margin-right: -3px;
    font-size: 3.17vw !important;
  }
}