<div class="modal-window" role="dialog" aria-modal="true" aria-label="Klient" *ngIf="isOpen">
  <ng-container *ngIf="item; else loading">
    <div class="header">
      <button class="backBtn" (click)="back()">
        <svg width="12" height="20" viewBox="0 0 12 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10 20L0 10L10 0L11.775 1.775L3.55 10L11.775 18.225L10 20Z" fill="white" />
        </svg>

      </button>
      <span class="font400size16">Klient</span>
      <svg width="24" (click)="moreMenuService.openClientMoreMenu(item!.id.toString())" height="24" viewBox="0 0 24 24"
        fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M12 20C11.45 20 10.9792 19.8042 10.5875 19.4125C10.1958 19.0208 10 18.55 10 18C10 17.45 10.1958 16.9792 10.5875 16.5875C10.9792 16.1958 11.45 16 12 16C12.55 16 13.0208 16.1958 13.4125 16.5875C13.8042 16.9792 14 17.45 14 18C14 18.55 13.8042 19.0208 13.4125 19.4125C13.0208 19.8042 12.55 20 12 20ZM12 14C11.45 14 10.9792 13.8042 10.5875 13.4125C10.1958 13.0208 10 12.55 10 12C10 11.45 10.1958 10.9792 10.5875 10.5875C10.9792 10.1958 11.45 10 12 10C12.55 10 13.0208 10.1958 13.4125 10.5875C13.8042 10.9792 14 11.45 14 12C14 12.55 13.8042 13.0208 13.4125 13.4125C13.0208 13.8042 12.55 14 12 14ZM12 8C11.45 8 10.9792 7.80417 10.5875 7.4125C10.1958 7.02083 10 6.55 10 6C10 5.45 10.1958 4.97917 10.5875 4.5875C10.9792 4.19583 11.45 4 12 4C12.55 4 13.0208 4.19583 13.4125 4.5875C13.8042 4.97917 14 5.45 14 6C14 6.55 13.8042 7.02083 13.4125 7.4125C13.0208 7.80417 12.55 8 12 8Z"
          fill="rgba(255, 255, 255, 1)
" />
      </svg>


    </div>
    <div class="modal-main mt24">
      <div class="new-waybill-vehicle-input-group">
        <div class="new-waybill-vehicle-input">
          Firma
          <div class="client-field-value font600size16" (mousedown)="startPress($event)" (mouseup)="endPress()" (mouseleave)="endPress()"
            (touchstart)="startPress($event)" (touchend)="endPress()">
            {{ item!.company.toUpperCase() }}
          </div>
        </div>
        <div class="new-waybill-vehicle-input">
          Address
          <div class="client-field-value" (mousedown)="startPress($event)" (mouseup)="endPress()" (mouseleave)="endPress()"
            (touchstart)="startPress($event)" (touchend)="endPress()">
            {{ item!.address }}
          </div>
        </div>
        <div class="new-waybill-vehicle-input">
          Link
          <div class="client-field-value" (mousedown)="startPress($event)" (mouseup)="endPress()" (mouseleave)="endPress()"
            (touchstart)="startPress($event)" (touchend)="endPress()">
            {{ item!.google_link }}
          </div>
        </div>
        <div class="new-waybill-vehicle-input">
          GPS
          <div class="client-field-value" (mousedown)="startPress($event)" (mouseup)="endPress()" (mouseleave)="endPress()"
            (touchstart)="startPress($event)" (touchend)="endPress()">
            {{ item!.gps }}
          </div>
        </div>
      </div>
      <div class="new-waybill-notes">
        <span class="font500size14">Notatki</span>
        <textarea #textArea>{{ item!.notes }}</textarea>
      </div>
    </div>
  </ng-container>

  <ng-template #loading>
    <div class="loading-state">Ładowanie danych klienta...</div>
  </ng-template>
</div>
<div class="saveBtnBack" *ngIf="isOpen">
  <button class="save-btn font400size14" (click)="navigate()">Nawigacja</button>
  <button class="save-btn font400size14" (click)="CopyLink()">Kopiuj Link</button>

  <button class="save-btn font400size14" (click)="CopyGPS()">Kopiuj GPS</button>
</div>