<section class="select-vehicle-number">
  <header class="header-select-vechicle-number">
    <nav class="nav-back">
      <button class="backBtn" (click)="closeModal()">
        <img src="assets/svg/back.svg" />
      </button>
      <span>{{ this.currentType == "truck" ? "Wybierz ciągnik" : "Wybierz naczepę" }}</span>
      <span></span>
    </nav>
    <div class="filter">
      <img src="assets/svg/load-calc-icons/filter.svg" />
      <input type="text" placeholder="" (input)="onFilter($event)" value="{{ filterValue() }}" />
      <img src="assets/svg/load-calc-icons/closeItem.svg" (click)="clearFilter()" />
    </div>
  </header>
  <ul>
    @for (item of vehicleFleetFiltered(); track item.id || item.vehicle_number) {
    <li (click)="selectNumber(item.vehicle_number)">
      <img src="assets/svg/load-calc-icons/Truck.svg" />{{ item.vehicle_number }}
    </li>
    }
  </ul>
  <app-add-new-vehicle *ngIf="waybillsService.isOpenModalFormForAddNewVehicle()" [initialType]="currentType"
    (closeModal)="onNewVehicleAdded($event)">
  </app-add-new-vehicle>

  <button class="btn-add-new" *ngIf="!waybillsService.isOpenModalFormForAddNewVehicle()" (click)="addNewVehicle()">
    <img src="assets/svg/load-calc-icons/add.svg" alt="Add new vehicle" />
  </button>
</section>