.item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 361px;
  height: 56px;
  min-height: 56px;
  gap: 8px;
  angle: 0 deg;
  opacity: 1;
  padding-top: 6px;
  padding-bottom: 6px;
span{
  color: var(--text-primary);
}
  p{
    color: var(--text-secondary-color);
  }
}
.item-info{
  margin-left: 8px;
  margin-right: 8px;
  width: -webkit-fill-available;
}
button{
  img{
    width: 40px;
    height: 40px;
    gap: 10px;
    angle: 0 deg;
    opacity: 1;
    padding: 8px;

  }
  background: none;
  border: none;
  cursor: pointer;

}
