.listItems {
  height: auto;
  min-height: 85vw;
  max-height: 89vh;
  overflow: auto;
  overflow-x: hidden;
  padding-bottom: 220px;
  position: relative;
  top: 126px;

}

p {
  color: rgba(155, 164, 174, 1);
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 16px;
  letter-spacing: 0%;
}