.more-menu {
  border-radius: 4px 4px 0 0 ;
  width: 100%;
  height: 252px;
  background: var( --bg-container);
  color: var(--text-primary);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100001;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
.title{
    border-bottom: 1px solid var(--stroke-dark);
}

  .block{
    display: flex;
    align-items: center;
    width: 361px;
    height: 56px;
    min-height: 56px;
    angle: 0 deg;
    opacity: 1;
    gap: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    img{
      width: 24px;
      margin: 8px;
    }
  }
  span{
    color: var(--text-secondary-color);

  }
    button{
      border: none;
      background: none;
      color: var(--text-primary);
    }
}
