.mt6{margin-top:6px;}
.mt8{margin-top:8px;}
.mt12{margin-top:12px;}
.mt14{margin-top:14px;}
.mt16{margin-top:16px;}
.mt24{margin-top:24px;}
.mt32{margin-top:32px;}
.mt40{margin-top:40px;}
.mt48{margin-top:48px;}
.mt56{margin-top:56px;}
.mt64{margin-top:64px;}
.mt68{margin-top:68px;}
