* {
  color: var(--ligth-color);

}

th {
  padding: 2px 10px;
  border: 2px solid var(--ligth-color);
}
.h3LoadLocation{

}
.groupCompanyBtn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.companySelectBtn {

  width: 128px;
  height: 80px;
  padding: 10px 20px;
  border-radius: 5px;
}

.modalAddCompany {
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  padding: 2.5vw;

  label {
    width: 90vw;
  }

  input {
    margin: 10px 2.5vw;
    width: 85vw;
  }

  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95vw;
  background: var(--gray-color);
  height: 30vh;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.btnAddCompany {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 40px;
  padding: 1px;
  background-color: green;
}
@media screen and (max-width: 640px) {
  .h3LoadLocation{
    position: absolute;
    top: 40px;
    margin-left: 40px;
    width: 40px;
  }
  .companySelectBtn{
    width:90vw;
    margin-top: 8px;
  }
  .groupCompanyBtn {
    left: 0;
    position: absolute;
    top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
