<header class="header-new-waybill">
  <button class="backBtn" (click)="back()">
    <img src="assets/svg/back.svg" />
  </button>
  <span
    ><div *ngIf="!this.editWaybillService.currentDate().dataFinish" class="current">Aktualny</div>
    Edytuj kartę drogową
  </span>
  <img src="assets/svg/close.svg" />
</header>
<app-select-vehicle-number-page
  *ngIf="
    editWaybillService.isOpenEditTruckModalMenu() || editWaybillService.isOpenEditTrailerModalMenu()
  "
></app-select-vehicle-number-page>
<main class="main-new-waybill">
  <div class="new-waybill-vehicle">
    <span>Pojazd</span>
    <div class="new-waybill-vehicle-input-group">
      <div class="new-waybill-vehicle-input" (click)="onOpenTruckModalMenu()">
        Ciężarówka
        <p>{{ this.editWaybillService.getCurrentSelectedVehicle().truck }}</p>
        <img src="assets/svg/load-calc-icons/ArrowRight.svg" />
      </div>
      <div class="new-waybill-vehicle-input" (click)="onOpenTrailerModalMenu()">
        Przyczepa
        <p>{{ this.editWaybillService.getCurrentSelectedVehicle().trailer }}</p>
        <img src="assets/svg/load-calc-icons/ArrowRight.svg" />
      </div>
    </div>
  </div>
  <div class="new-waybill-date">
    <span>Zakres dat</span>
    <div class="new-waybill-vehicle-input-group">
      <div class="new-waybill-vehicle-input">
        Początek
        <div class="calendarBtnGroup">
          <span (click)="onOpenCalendarModal('start')" class="date-input date-input-d"
            >{{ this.editWaybillService.currentDate().dataStart }}
          </span>
          <span (click)="onOpenTimeModal('start')" class="date-input date-input-t"
            >{{ this.editWaybillService.currentDate().timeStart }}
          </span>
        </div>
      </div>
      <app-calendar *ngIf="this.editWaybillService.isOpenEditCalendarStartModal()"></app-calendar>
      <app-time-picker *ngIf="editWaybillService.isOpenEditTimeStartModal()"></app-time-picker>

      <div class="new-waybill-vehicle-input">
        Koniec
        <div class="calendarBtnGroup">
          <span (click)="onOpenCalendarModal('end')" class="date-input date-input-d"
            >{{ this.editWaybillService.currentDate().dataFinish }}
          </span>
          <span (click)="onOpenTimeModal('end')" class="date-input date-input-t"
            >{{ this.editWaybillService.currentDate().timeFinish }}
          </span>
        </div>
      </div>
      <app-calendar *ngIf="editWaybillService.isOpenEditCalendarEndModal()"></app-calendar>
      <app-time-picker *ngIf="editWaybillService.isOpenEditTimeEndModal()"></app-time-picker>
    </div>
  </div>
  <div class="new-waybill-notes">
    <span>Notatki</span>
    <textarea #textArea (input)="editWaybillService.currentNotes.set(textArea.value)">{{
      editWaybillService.currentNotes()
    }}</textarea>
  </div>
</main>
<div class="saveBtnBack">
  <button class="save-btn" (click)="addNewWaybills()">Zmienić</button>
</div>
