<app-add-location-modal [style]="'display: flex;justify-content: center;'">
</app-add-location-modal>

<header>
  <h3 class="h3 font600size16">Firmy:</h3>
  <br />

  <div class="filterInput">
    <img src="assets/svg/load-calc-icons/filter.svg" alt="filtr" />

    <input
      type="text"
      class="font400size16"
      [value]="loadLocationService.filterValue()"
      (input)="loadLocationService.setFilter($any($event.target).value)"
      placeholder="Szukaj"
    />

    <img
      src="assets/svg/load-calc-icons/closeItem.svg"
      alt="wyczyść"
      *ngIf="loadLocationService.filterValue().length >= 1"
      (click)="loadLocationService.clearFilter()"
    />
  </div>
</header>

<div class="groupCompanyBtn">
  @for (item of loadLocationService.filteredListAddress(); track item.id) {
    <button [id]="item.id" class="companySelectBtn font400size16" (click)="modalService.open(item)">
      {{ item.company }}
    </button>
  }
</div>

<br />

<button
  class="btn-add-new"
  *ngIf="!modalService.isOpen$.value"
  (click)="loadLocationService.changePage('add')"
>
  <img src="assets/svg/load-calc-icons/add.svg" />
</button>
