<app-spinner *ngIf="isFirstTime()" />
<div class="app-login">
  <div class="auth-logo-group">
    <h2 class="font700size32">Witamy w Vliet</h2>
    <span class="mt8 font400size14">Zaloguj się, korzystając z poniższego formularza.</span>
  </div>
  <form class="form-login mt68" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div *ngIf="
        errorMessage ||
        (form.get('password')?.invalid && form.get('password')?.touched) ||
        (form.get('email')?.invalid && form.get('email')?.touched)
      " class="error-auth-message mt16 font400size16" [style.color]="'red'">
      <img src="assets/svg/error-message-logo.svg" alt="error=logo" />{{ errorMessage }}
      <small *ngIf="form.get('password')?.errors?.['required']">Hasło jest wymagane</small>
      <p *ngIf="form.get('password')?.invalid && form.get('email')?.invalid">/</p>
      <small *ngIf="form.get('email')?.errors?.['required']">Adres e-mail jest wymagany</small>
      <small *ngIf="form.get('email')?.errors?.['email']">Nieprawidłowy format adresu e-mail</small>
      <img src="assets/svg/close-X.svg" alt="X" (click)="form.reset()" />
    </div>

    <!-- Email -->
    <label for="email" class="mt14 font500size14"> E-mail: </label>
    <input name="email" class="input font400size16" formControlName="email" type="email"
      placeholder="example@mail.com" />

    <!-- Password -->
    <label for="password" class="mt24 font500size14">
      Hasło:
      <!-- <a [routerLink]="['auth/forgot-password?']" class="font500size14 forgot-password"
        >Nie pamiętasz hasła?</a
      > -->
    </label>

    <div class="auth-password-group">
      <input name="password" class="input font400size16" formControlName="password"
        [type]="isShow ? 'text' : 'password'" placeholder="Hasło" />
      <button class="auth-show-password" type="button" (click)="setShow()">
        <img *ngIf="!isShow" src="assets/svg/unshow.svg" width="25" height="25" alt="Ikona ukrywania hasła" />
        <img *ngIf="isShow" src="assets/svg/show.svg" width="25" height="25" alt="Ikona pokazywania hasła" />
      </button>
    </div>

    <label class="remember-me font400size14">
      <input type="checkbox" name="rm" id="rm" class="rm" formControlName="rm" />
      Zapamiętaj mnie
    </label>

    <br />
    <button type="submit" class="button mt56 btn-auth-submit font600size16" [disabled]="loading">
      {{ loading ? 'Ładowanie...' : 'Zaloguj się' }}
    </button>

    <div class="font400size14 sing-up mt24">
      Nie masz jeszcze konta?
      <a [routerLink]="['/auth/sign-up']" class="auth-link font500size14">Zarejestruj się</a>
    </div>
  </form>
</div>