.modal-window{
  width: 304px;
  height: 176px;
  top: 204px;
  left: 45px;
  gap: 16px;
  angle: 0 deg;
  opacity: 1;
  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 24px;
  border-radius: 8px;
  border-width: 1px;
  background: var(--bg-container);
  position: absolute;
  text-align: center;
  top: 204px;
input{
  width: 256px;
  height: 44px;
  gap: 8px;
  angle: 0 deg;
  opacity: 1;
  padding-top: 10px;
  padding-right: 12px;
  padding-bottom: 10px;
  padding-left: 16px;
  border-radius: 4px;
  border-width: 1px;
  background: var(--bg-input);
  border: 1px solid var(--focus-color);
  color: var(--text-primary);
}

}
  input:focus, input:hover,input:active, input:focus-within, input:focus-visible{
    color: var(--text-primary) !important;
    outline: none !important;
    border: 1px solid var(--focus-color) !important;
  }
.groupBtn{
  width: 256px;
  height: 44px;
  gap: 9px;
  angle: 0 deg;
  opacity: 1;
  display: flex;
  button{
    width: 123.5px;
    height: 44px;
    gap: 8px;
    angle: 0 deg;
    opacity: 1;
    padding-top: 10px;
    padding-right: 18px;
    padding-bottom: 10px;
    padding-left: 18px;
    border-radius: 4px;
    background: transparent;
    color: var(--text-secondary-color);
    border: none;

  }
.createBtn{
  background: var(--button-primary-color);
  color: var(--primary-color);
}
}
button:disabled{
    background: var(--button-primary-disabled)!important;
  }
