* {
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: Inter;

}

.container-calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 96vw;
  max-width: 600px;
  margin: 10px 2vw 0 2vw;
  height: 548px;
  top: 200px;
  left: 16px;
  gap: 12px;
  angle: 0deg;
  opacity: 1;
}

.calculator-output {
  width: 96vw;
  max-width: 600px;

  height: 84px;
  gap: 6px;
  angle: 0deg;
  opacity: 1;
  border-radius: 8px;
  border-width: 1px;
  padding-top: 27px;
  padding-right: 16px;
  padding-bottom: 27px;
  padding-left: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: var(--text-primary);
  background: var(--bg-input);
}

.btnArea {
  max-width: 359px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: flex-start;
  width: 96vw;
  max-width: 600px;
  height: 452px;
  angle: 0deg;
  opacity: 1;
  div {
    width: 100%;
    gap: 9px;
    /* max-width: 600px; */
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 84px;
    margin: 5px
  }
}

.btnL {
  width: 84px;
  height: 84px;
  angle: 0deg;
  opacity: 1;
  border-radius: 8px;
  border-width: 1px;
  padding: 20px;
  background: rgba(29, 34, 40, 1);
  border: 1px solid rgba(42, 47, 54, 1);
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 36px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}
.calculator-history {

  color: rgba(155, 164, 174, 1);
  width: 96vw;
  max-width: 600px;
  margin:-38px 2vw -3px 2vw;
  height: 29px;
  gap: 10px;
  angle: 0 deg;
  opacity: 1;
  padding-right: 16px;
  padding-left: 16px;
  text-align: end;
  max-width: 600px;
}
.btn_delete {
  width: 176px;
  height: 84px;
  gap: 10px;
  angle: 0deg;
  opacity: 1;
  border-radius: 8px;
  padding: 21px;
  background: rgba(255, 165, 40, 1);
}
.container-enter-btn {
  position: fixed;
  bottom: 0px;

  height: 60px;
  background: black;
  z-index: 10;
  display: flex;

  align-items: center;
}
.enterBtn {
  width: 96vw;
  max-width: 600px;
  height: 44px;
  gap: 8px;
  angle: 0 deg;
  opacity: 1;
  border-radius: 4px;
  padding-top: 10px;
  padding-right: 18px;
  padding-bottom: 10px;
  padding-left: 18px;
  margin-top: 8px;
  margin-bottom: 16px;
  background: rgba(76, 141, 255, 1);
  color: var(--text-primary);
}

.btn_backspace {
  width: 84px;
  height: 84px;
  gap: 10px;
  angle: 0deg;
  opacity: 1;
  border-radius: 8px;
  padding: 20px;
  padding: 12px 14px 10px 10px;
  background: rgba(255, 165, 40, 1);
}

.btn_zero {
  width: 269px;
  height: 84px;
  gap: 10px;
  angle: 0deg;
  opacity: 1;
  border-radius: 8px;
  border-width: 1px;
  padding: 20px;
}

.color_blue {
  background: var(--button-primary-color);
}
@media screen and (max-width: 371px) {
  .container-calculator {
    width: 96vw;
    max-width: 600px;
    margin: 0px 2vw 0 2vw;
  }
  .btnArea {
    padding-top: -30px;div{
    justify-content: space-between;
  }
  }
  .btnArea {

  }
  .calculator-output,
  .btnArea {
    width: 95vw;
    gap: 7px;
    align-content: center;

    div {
      height: 20vw;
    }
  }
  .btnL {
    padding: 0;
    width: 20vw;
    height: 20vw;
  }
  .btn_zero {
    width: 68vw;
  }
  .enterBtn {
    width: 95vw;
  }
  .btn_backspace {
    width: 20vw;
    padding: 0;
    height: 20vw;
  }
  .btn_delete {
    padding: 0;
    width: 45vw;

    height: 20vw;
  }
}
