:host {
  position: -webkit-sticky;
  position: fixed;
  z-index: 105;
  top: env(safe-area-inset-top, 0px);
  left: 0;
  width: 100%;
  background: black;
  display: flex;
  justify-content: center;
}

header {
  width: 100%;
  height: auto;
  min-height: 132px;
  max-width: 600px;
  padding-top: 18px;
  padding-bottom: 8px;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}