.alert {
  position: absolute;
  display: flex;
  top: 10px;
  right: 50%;
  transform: translateX(50%);
  width: 360px;
  height: 44px;
  border-radius: 4px;
  border-width: 1px;
  angle: 0 deg;
  opacity: 1;
  gap: 8px;
  padding-top: 10px;
  padding-right: 12px;
  padding-bottom: 10px;
  padding-left: 16px;
  z-index: 10000;
  align-items: center;
  justify-content: space-between;

}
.error{
  border: 1px solid var(--text-error-color);
  color: var(--text-error-color);
  background: rgba(42, 23, 26, 1);
  img{
    svg{
      fill:  rgba(255, 94, 94, 1);
    ;
    }
  }
}
.success{
  background: rgba(23, 50, 34, 1);
  border: 1px solid rgba(74, 208, 127, 1);
  color: rgba(74, 208, 127, 1);
  img{
    svg{
      fill:  rgba(74, 208, 127, 1);
    ;
    }
  }
}

